<h1>Vets of Ruby Vetinary Practice</h1>
<% for pet in @pets %>
<p>Name: <%= pet.name %></p>
<p>Type: <%= pet.type %></p>
<p>DoB: <%= pet.dob %></p>
<p>Owner: <%= pet.owner().joined_name() %></p>
<p>Vet: <%= pet.vet().joined_name() %></p>
<p>Notes: <%= pet.notes %></p>
<p><% end %></p>
<a href="/pets/new">Add New Pet</a>
