<h1>Pets of Ruby Vetinary Practice</h1>
<a href="/pets/new">Add New Pet</a>
<% for pet in @pets %>
<p>Name: <a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
<p>Type: <%= pet.type %></p>
<p>DoB: <%= pet.dob %></p>
<p>Owner: <%= pet.owner().joined_name() %></p>
<p>Vet: <%= pet.vet().joined_name() %></p>
<p>Notes: <%= pet.notes %></p>
<a href="/pets/<%= pet.id %>/edit">Edit pet</a>
<p><% end %></p>
