<header>Appointments</header>
<a href="/appointments/new">Add New Appointment</a>
  <ul>
    <% for appointment in @appointments %>
    <ul>
      <p><a href="/appointments/<%= appointment.id %>">Appointment <%= appointment.id %></a></p>
      <p>Pet name: <a href="/pets/<%= appointment.pet_id %>"><%= appointment.pet.name %></a></p>
      <p>Time: <%= appointment.time %></p>
    </ul>
    <p><% end %></p>

  </ul>
