<h1>Appointment</h1>
<p>Pet name: <a href="/pets/<%= @appointment.pet_id %>"><%= @appointment.pet.name %></a></p>
<p>Vet name: <a href="/vets/<%= @appointment.vet.id %>"><%= @appointment.vet.joined_name() %></a></p>
<p>Room: <%= @appointment.room.name %></p>
<p>Treatment: <%= @appointment.treatment.type %></p>
<p>Time: <%= @appointment.time %></p>
<p>Pet notes: <%= @appointment.pet.notes %></p>
<p>Pet owner contact info</p>
<p>Phone: <%= @appointment.pet().owner().phone_number %></p>
<p>Email: <%= @appointment.pet().owner().email %></p>
<a href="/appointments/<%= @appointment.id %>/edit">Edit appointment</a>
<form action="/appointments/<%= @appointment.id %>/delete" method="post">
    <input type="submit" value="Delete room"/>
</form>
