<header>Edit owner</header>
<form method = "post" action = "/owners/<%= @owner.id %>">
  <ul>
    <ul>
      <label for="first-name">First Name:</label>
      <input id = "first-name" type="text" name="first_name" value="<%= @owner.first_name %>"/>
    </ul>
    <ul>
      <label for="last-name">Last Name:</label>
      <input id = "last-name" type="text" name="last_name" value="<%= @owner.last_name %>"/>
    </ul>
    <ul>
      <label for="phone-number">Contact Number:</label>
      <input id = "phone-number" type="text" name="phone_number" value="<%= @owner.phone_number %>"/>
    </ul>
    <ul>
      <label for="e-mail">Email:</label>
      <input id = "e-mail" type="text" name="email" value="<%= @owner.email %>"/>
    </ul>
  </ul>

  <input type="submit" value="Submit Changes"/>
</form>
